In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools

In [39]:
data = pd.read_csv('C:/Users/Nikita/DataScience/Prjcts/module_1/movie_bd_v5.csv')
data['profit'] = data.apply(lambda row: row['revenue'] - row['budget'], axis=1)
data['release_month'] = data.apply(
    lambda row: row['release_date'][0:2], axis=1)
data['len_title'] = data.apply(lambda row: len(row['original_title']), axis=1)
data['len_overview'] = data.apply(
    lambda row: len(row['overview'].split(' ')), axis=1)
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year,profit,release_month,len_title,len_overview
538,tt0159273,40000000,91753202,Behind Enemy Lines,Owen Wilson|Gene Hackman|Gabriel Macht|Charles...,John Moore,His only weapon is his will to survive.,While flying a routine reconnaissance mission ...,106,Action|Drama|Thriller|War,Twentieth Century Fox Film Corporation|Davis E...,11/17/2001,5.9,2001,51753202,11,18,67
263,tt0432283,40000000,46471023,Fantastic Mr. Fox,George Clooney|Meryl Streep|Jason Schwartzman|...,Wes Anderson,Dig the life fantastic!,The Fantastic Mr. Fox bored with his current l...,87,Adventure|Animation|Comedy|Family,Twentieth Century Fox Film Corporation|Regency...,10/23/2009,7.5,2009,6471023,10,17,35
1104,tt0332379,35000000,131282949,The School of Rock,Jack Black|Joan Cusack|Mike White|Sarah Silver...,Richard Linklater,He just landed the gig of his life: 5th grade.,"Fired from his band and hard up for cash, guit...",108,Comedy|Music,Paramount Pictures,10/3/2003,6.6,2003,96282949,10,18,64
1798,tt0499554,10000000,20342161,Reno 911!: Miami,Lennie Loftin|Danny DeVito|Ben Garant|Carlos A...,Ben Garant,"In a time of crisis, America will call Reno 911!",A rag-tag team of Reno cops are called in to s...,84,Action|Adventure|Comedy|Crime,20th Century Fox,2/23/2007,5.8,2007,10342161,2/,16,34
1023,tt0837562,85000000,358375603,Hotel Transylvania,Adam Sandler|Steve Buscemi|David Spade|Kevin J...,Genndy Tartakovsky,Where monsters go to get away from it all,"Dracula, who operates a high-end resort away f...",91,Animation|Comedy|Family|Fantasy,Columbia Pictures|Sony Pictures Animation,9/20/2012,6.7,2012,273375603,9/,18,28

In [3]:
data.describe()

,budget,revenue,runtime,vote_average,release_year,profit,len_title,len_overview
count,1.889000e+03,1.889000e+03,1889.000000,1889.000000,1889.000000,1.889000e+03,1889.000000,1889.000000
mean,5.431083e+07,1.553653e+08,109.658549,6.140762,2007.860773,1.010545e+08,15.037057,52.410270
std,4.858721e+07,2.146698e+08,18.017041,0.764763,4.468841,1.830733e+08,8.552660,26.631917
min,5.000000e+06,2.033165e+06,63.000000,3.300000,2000.000000,-1.657101e+08,1.000000,10.000000
25%,2.000000e+07,3.456058e+07,97.000000,5.600000,2004.000000,5.000000e+06,9.000000,32.000000
50%,3.800000e+07,8.361541e+07,107.000000,6.100000,2008.000000,4.400041e+07,13.000000,48.000000
75%,7.200000e+07,1.782626e+08,120.000000,6.600000,2012.000000,1.201842e+08,18.000000,67.000000
max,3.800000e+08,2.781506e+09,214.000000,8.100000,2015.000000,2.544506e+09,83.000000,175.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1889 entries, 0 to 1888
Data columns (total 18 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   imdb_id               1889 non-null   object
 1   budget                1889 non-null   int64
 2   revenue               1889 non-null   int64
 3   original_title        1889 non-null   object
 4   cast                  1889 non-null   object
 5   director              1889 non-null   object
 6   tagline               1889 non-null   object
 7   overview              1889 non-null   object
 8   runtime               1889 non-null   int64
 9   genres                1889 non-null   object
 10  production_companies  1889 non-null   object
 11  release_date          1889 non-null   object
 12  vote_average          1889 non-null   float64
 13  release_year          1889 non-null   int64
 14  profit                1889 non-null   int64
 15  release_month         1889 non-null   object
 16  len_title             1889 non-null   int64
 17  len_overview          1889 non-null   int64
dtypes: float64(1), int64(7), object(10)
memory usage: 265.8+ KB

# Предобработка

In [5]:
answers = {}  # создадим словарь для ответов

# тут другие ваши предобработки колонок например:

# the time given in the dataset is in string format.
# So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [6]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример:
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'
# если ответили верно, можете добавить комментарий со значком "+"

In [7]:
# тут пишем ваш код для решения данного вопроса:

data[data['budget'] == data['budget'].max()]['original_title'].iloc[0]

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [8]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [9]:
# думаю логику работы с этим словарем вы уже поняли,
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [10]:
data[data['runtime'] == data['runtime'].max()]['original_title'].iloc[0]

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [11]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'
data[data['runtime'] == data['runtime'].min()]['original_title'].iloc[0]

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [12]:
answers['4'] = '2. 110'
data.describe()['runtime']['mean'].round()

110.0

# 5. Каково медианное значение длительности фильмов?

In [13]:
answers['5'] = '1. 107'
data.describe()['runtime']['50%']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [14]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = '5. Avatar (tt0499549)'

data['profit'] = data.apply(lambda row: row['revenue'] - row['budget'], axis=1)

data[data['profit'] == data['profit'].max()]['original_title'].iloc[0]

'Avatar'

# 7. Какой фильм самый убыточный?

In [15]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

data[data['profit'] == data['profit'].min()]['original_title'].iloc[0]

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [16]:
answers['8'] = '1. 1478'

len(data[data['revenue'] > data['budget']])

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [17]:
answers['9'] = '4. The Dark Knight (tt0468569)'

data[data['revenue'] == (data[data['release_year'] == 2008].max()
                         ['revenue'])]['original_title'].iloc[0]

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [18]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

data[data['profit'] == (data[(data['release_year'] > 2011) &
                             (data['release_year'] < 2015)].min()
                        ['profit'])]['original_title'].iloc[0]

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [19]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

answers['11'] = '3. Drama'

list_genres = []

series_genres = data.genres.str.split('|')

for i in range(len(series_genres)):
    list_genres += series_genres[i]

data_genres = pd.Series(list_genres)
data_genres.value_counts().head(1)

Drama    782
dtype: int64

ВАРИАНТ 2

In [20]:
genres = pd.Series(data['genres'].str.cat(sep='|').split('|'))
genres.value_counts(ascending=False)

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [21]:
answers['12'] = '1. Drama'

data_profit = data[data['profit'] > 0]
genres = pd.Series(data_profit['genres'].str.cat(sep='|').split('|'))
genres.value_counts(ascending=False)

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

# 13. У какого режиссера самые большие суммарные кассовые сбооры?

In [22]:
answers['13'] = '5. Peter Jackson'

director_list = []
series_director = data.director.str.split('|')

for i in range(len(series_director)):
    director_list += series_director[i]

data_director = pd.Series(director_list)
director = list(data_director.value_counts().index)

revenue_list = []
revenue_base = {}

for i in range(len(director)):
    revenue_list.append(data[data.director.str.contains(
        director[i], na=False)]['revenue'].sum())

max_revenue = pd.Series(revenue_list, director)
max_revenue.loc[max_revenue == max_revenue.max()]

Peter Jackson    6490593685
dtype: int64

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [23]:
answers['14'] = '3. Robert Rodriguez'

action_data = data[data.genres.str.contains('Action', na=False)]

actdir_list = []
actdir_base = {}

for i in range(len(director)):
    actdir_list.append(action_data[action_data.director.str.contains(
        director[i], na=False)]['original_title'].count())

max_actdir = pd.Series(actdir_list, director)
max_actdir.loc[max_actdir == max_actdir.max()]

Robert Rodriguez    9
dtype: int64

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [24]:
answers['15'] = '3. Chris Hemsworth'

data_2012 = data[data['release_year'] == 2012]
cast = pd.Series(data_2012['cast'].str.cat(sep='|').split('|'))
cast = cast.value_counts(ascending=False)
for actor in cast.index:
    cast[actor] = data_2012['revenue'][data_2012['cast'].map(
        lambda x: True if actor in x else False)].sum()
cast.sort_values(ascending=False)

Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Chris Evans          1519557910
Robert Downey Jr.    1519557910
                        ...
Michael Nyqvist         3428048
Danny Huston            2106557
Nicolas Cage            2106557
Sami Gayle              2106557
Josh Lucas              2106557
Length: 466, dtype: int64

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [25]:
answers['16'] = '3. Matt Damon'

d_highbbudget = data[data['budget'] > data['budget'].mean()]
cast = pd.Series(d_highbbudget['cast'].str.cat(sep='|').split('|'))
cast.value_counts(ascending=False)

Matt Damon          18
Adam Sandler        17
Angelina Jolie      16
Eddie Murphy        15
Tom Cruise          15
                    ..
David Zayas          1
Diana Scarwid        1
Sarita Choudhury     1
Bai Ling             1
Laura Fraser         1
Length: 1505, dtype: int64

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [26]:
answers['17'] = '2. Action'

nc_data = data.cast.str.contains('Nicolas Cage')
nc_data = data[nc_data]

nc_genres = pd.Series(nc_data['genres'].str.cat(sep='|').split('|'))
nc_genres.value_counts(ascending=False)

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Mystery             3
Animation           3
History             2
War                 1
Horror              1
Romance             1
dtype: int64

# 18. Самый убыточный фильм от Paramount Pictures

In [27]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

data_profit = data[data['profit'] < 0]
pp_data = data_profit[data_profit.production_companies.str.contains(
    'Paramount Pictures')]
pp_data[pp_data['profit'] == pp_data['profit'].min()]['original_title']

925    K-19: The Widowmaker
Name: original_title, dtype: object

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [28]:
answers['19'] = '5. 2015'

data.groupby(by='release_year')['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

# 20. Какой самый прибыльный год для студии Warner Bros?

In [29]:
answers['20'] = '1. 2014'

data_wb = data[data.production_companies.str.contains("Warner Bros", na=False)]
data_wb.groupby(by='release_year')[
    'revenue'].sum().sort_values(ascending=False)

release_year
2014    3243064519
2007    3183675217
2008    3050595031
2010    3008712985
2011    2845393682
2003    2745493377
2009    2737954136
2004    2731933725
2013    2599953400
2005    2412980298
2001    2266545668
2012    1869520056
2002    1702709901
2015    1691168351
2006    1521170743
2000    1025531386
Name: revenue, dtype: int64

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [30]:
answers['21'] = "4. Сентябрь"

data['release_month'] = data.apply(
    lambda row: row['release_date'][0:2], axis=1)
data.release_month.value_counts()

9/    227
12    190
10    186
8/    161
3/    156
4/    149
6/    147
11    146
7/    142
5/    140
2/    135
1/    110
Name: release_month, dtype: int64

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [31]:
answers['22'] = '2. 450'

data['release_month'] = data.apply(
    lambda row: row['release_date'][0:2], axis=1)
len(data.query('release_month in ["6/","7/","8/"]'))

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [32]:
answers['23'] = "5. Peter Jackson"

data_winter = data.query('release_month in ["12","1/","2/"]')
winter_directors = pd.Series(
    data_winter['director'].str.cat(sep='|').split('|'))
winter_directors.value_counts()

Peter Jackson        7
Clint Eastwood       6
Steven Soderbergh    6
Adam Shankman        4
Shawn Levy           4
                    ..
Dominic Sena         1
Charles Stone III    1
Steve Pink           1
Chris Koch           1
Mikael HÃ¥fstrÃ¶m    1
Length: 358, dtype: int64

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [33]:
answers['24'] = "5. Four By Two Productions"

data['len_title'] = data.apply(lambda row: len(row['original_title']), axis=1)
production_companies = pd.Series(
    data['production_companies'].str.cat(sep='|').split('|'))
production_companies = production_companies.value_counts(ascending=False)

for companie in production_companies.index:
    production_companies[companie] = data['len_title'][data['production_companies'].map(
        lambda x: True if companie in x else False)].mean()
production_companies.sort_values(ascending=False)

Four By Two Productions       83
Jim Henson Company, The       59
Dos Corazones                 47
Polsky Films                  46
Museum Canada Productions     46
                              ..
Berlanti Productions           3
Everest Entertainment          3
Global Entertainment Group     2
XM2 Productions                2
Ixtlan Productions             2
Length: 1771, dtype: int64

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [34]:
answers['25'] = "3. Midnight Picture Show"

data['len_overview'] = data.apply(
    lambda row: len(row['overview'].split(' ')), axis=1)

production_companies = pd.Series(
    data['production_companies'].str.cat(sep='|').split('|'))
production_companies = production_companies.value_counts(ascending=False)

for companie in production_companies.index:
    production_companies[companie] = data['len_overview'][data['production_companies'].map(
        lambda x: True if companie in x else False)].mean()
production_companies.sort_values(ascending=False)

Midnight Picture Show                    175
Heineken Branded Entertainment           161
Room 9 Entertainment                     161
98 MPH Productions                       159
Brookwell-McNamara Entertainment         156
                                        ...
London Boulevard                          13
Projection Pictures                       13
Our Stories Films                         13
Motion Picture Corporation of America     11
Empire Pictures                           11
Length: 1771, dtype: int64

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [35]:
answers['26'] = "1. Inside Out, The Dark Knight, 12 Years a Slave"

one_percent = np.quantile(data['vote_average'], 0.99)
one_percent_data = data[['original_title', 'vote_average']]
one_percent_data[one_percent_data['vote_average'] >= one_percent]

                                         original_title  vote_average
9                                            Inside Out           8.0
28                                            Spotlight           7.8
34                                                 Room           8.0
118                                        Interstellar           8.0
119                             Guardians of the Galaxy           7.9
124                                          Big Hero 6           7.8
125                                  The Imitation Game           8.0
128                                           Gone Girl           7.9
138                            The Grand Budapest Hotel           7.9
155                            The Theory of Everything           7.8
177                              The Fault in Our Stars           7.8
283                                          Mr. Nobody           7.8
316                                            3 Idiots           7.8
370                                           Inception           7.9
496   The Lord of the Rings: The Fellowship of the Ring           7.8
599                                     The Dark Knight           8.1
863               The Lord of the Rings: The Two Towers           7.8
872                                         The Pianist           7.9
1081      The Lord of the Rings: The Return of the King           7.9
1183                            The Wolf of Wall Street           7.9
1188                                                Her           7.8
1191                                   12 Years a Slave           7.9
1205                                          Prisoners           7.8
1213                                 Dallas Buyers Club           7.8
1444                                       The Prestige           7.8
1563              Eternal Sunshine of the Spotless Mind           7.8
1688                                There Will Be Blood           7.8
1800                                            Memento           7.9

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [36]:
import itertools
answers['27'] = "5. Daniel Radcliffe & Rupert Grint"


combination = []
for i in range(len(data)):
    combination += (
        list(itertools.combinations(data['cast'][i].split('|'), 2)))
cast_pair = pd.Series(combination)
cast_pair.value_counts()

(Daniel Radcliffe, Emma Watson)          8
(Daniel Radcliffe, Rupert Grint)         8
(Rupert Grint, Emma Watson)              7
(Johnny Depp, Helena Bonham Carter)      6
(Ben Stiller, Owen Wilson)               6
                                        ..
(Ed Oxenbould, Benjamin Kanes)           1
(Bob Balaban, Jane Lynch)                1
(Ed Skrein, Gabriella Wright)            1
(Denzel Washington, Chiwetel Ejiofor)    1
(Kate Beckinsale, Tom Skerritt)          1
Length: 18121, dtype: int64

ВАРИАНТ 2

# Submission

In [37]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [38]:
# и убедиться что ни чего не пропустил)
len(answers)

27